/* Base/Custom */

#loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.7);
  transition: all 200ms ease-in-out;
  visibility: visible;
  opacity: 1;

  svg path, svg rect {
    fill: rgba(255, 255, 255, 0.8);
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.swal2-html-container {
  .text {
    color: #aaa;
  }

  .input-wrapper > label {
    color: #999;
  }

  .input-wrapper input[type="text"], .input-wrapper input[type="date"], .input-wrapper input[type="datetime"], .input-wrapper input[type="email"], .input-wrapper input[type="number"], .input-wrapper input[type="search"], .input-wrapper input[type="time"], .input-wrapper input[type="url"], .input-wrapper input[type="password"], .input-wrapper textarea, .input-wrapper select {
    border-color: #ddd;

    &:focus {
      border-color: #aaa;
    }
  }
}

.event-item {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  margin: 0.5rem;
  cursor: pointer;
  min-width: 200px;

  &:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }

  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;

    span {
      color: #333;
      font-size: 1rem;
      font-weight: normal;
      text-align: left;
    }
  }

  time {
    color: #666;
    font-size: 0.9rem;
    font-weight: normal;
    text-align: right;
    text-transform: uppercase;
  }

  &.top article {
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;

    span {
      text-align: center;
    }
  }

  &.stat span {
    color: #333;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;

    &.frequency {
      color: #666;
      text-align: right;
      flex: 1;
      font-size: 1rem;
    }
  }
}

#event-stat-frequency, #event-stat-current-frequency {
  color: #666;
}

#event-stat-current-frequency {
  color: #666;
  margin-bottom: 1rem;
}

#event-stat-events {
  display: flex;
  flex-direction: column;

  time {
    color: #666;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0.5rem;

    &:nth-child(2n+1) {
      background-color: #efefef;
    }
  }
}
